<header>
  <div class="header-wrap">
    <button class="menu-switch">

      <svg width="19" height="2" viewBox="0 0 19 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1" y1="1" x2="18" y2="1" stroke="#333333" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>

      <svg width="19" height="2" viewBox="0 0 19 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1" y1="1" x2="18" y2="1" stroke="#333333" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>

      <svg width="19" height="2" viewBox="0 0 19 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1" y1="1" x2="18" y2="1" stroke="#333333" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>

    </button>
    <div class="logo"><img src="../assets/img/logo_smart_color.png" alt="logo"></div>
    <div class="search">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.2583 15.1898L21 21M14.7989 14.9636C11.6422 18.158 6.52422 18.158 3.36752 14.9636C0.210825 11.7692 0.210826 6.59015 3.36752 3.39578C6.52422 0.201407 11.6422 0.201408 14.7989 3.39578C17.9556 6.59015 17.9556 11.7692 14.7989 14.9636Z"
          stroke="#333333" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </div>

    <div class="header-player">
      <div class="header-player__txt">
        <p class="header-player__label"><b>SMART</b> RADIO</p>
        <p class="header-player__song"><b>Special needs</b></p>
        <p class="header-player__artist">Placebo</p>
      </div>
      <div class="header-player__thumb">
        <img src="../assets/img/header-player.jpg" alt="play song">
      </div>
      <button class="header-player__play-button">
        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.6551 5.63327C11.3232 6.0179 11.3232 6.98193 10.6551 7.36655L2.16834 12.2524C1.50167 12.6362 0.669406 12.1551 0.669406 11.3858L0.669407 1.61402C0.669407 0.844771 1.50167 0.363579 2.16834 0.747382L10.6551 5.63327Z"/>
        </svg>
      </button>

    </div>

  </div>

</header>


<main class="s-main">
  <router-outlet></router-outlet>


</main>
<aside class="s-aside">

</aside>
<section class="slider"></section>

<footer>
  <div class="footer-wrap">

  </div>
</footer>
