//app varibles are set here, this file must be imported in other _partials.scss files including normalize.scss
$text-size-html: 62.5%;
$text-size: 1.6rem;
$container: 1280px;
$dark-gray: #333;
$color-vernil: #00C9C9;
$color-body-txt: #333;

