<p>We call a natural number a duodigit if its decimal representation uses no more than two different digits. For example, 12, 110 and 33333 are duodigits, while 102 is not.
  It can be shown that every natural number has duodigit multiples. Let d(n) be the smallest (positive) multiple of the number n that happens to be a duodigit. For example, d(12)=12, d(102)=1122, d(103)=515, d(290)=11011010 and d(317)=211122.

  Let D(k)=∑n=1kd(n). You are given D(110)=11047, D(150)=53312 and D(500)=29570988.

  Find D(50000). Give your answer in scientific notation rounded to 13 significant digits (12 after the decimal point). If, for example, we had asked for D(500) instead, the answer format would have been 2.957098800000e7.

  Unfortunately, I can not post the code and the solution because it is not true ethically to share it, but it might be useful to have some details as explained in following lines when to try to solve the problem.

  There are five numbers whose duodigit multiple’s digitlength is more than 18 digits, as follows
  8910, 17820, 26730, 32570, 35640, 44550.</p>



<p>We call a natural number a duodigit if its decimal representation uses no more than two different digits. For example, 12, 110 and 33333 are duodigits, while 102 is not.
  It can be shown that every natural number has duodigit multiples. Let d(n) be the smallest (positive) multiple of the number n that happens to be a duodigit. For example, d(12)=12, d(102)=1122, d(103)=515, d(290)=11011010 and d(317)=211122.

  Let D(k)=∑n=1kd(n). You are given D(110)=11047, D(150)=53312 and D(500)=29570988.

  Find D(50000). Give your answer in scientific notation rounded to 13 significant digits (12 after the decimal point). If, for example, we had asked for D(500) instead, the answer format would have been 2.957098800000e7.

  Unfortunately, I can not post the code and the solution because it is not true ethically to share it, but it might be useful to have some details as explained in following lines when to try to solve the problem.

  There are five numbers whose duodigit multiple’s digitlength is more than 18 digits, as follows
  8910, 17820, 26730, 32570, 35640, 44550.</p>


<p>We call a natural number a duodigit if its decimal representation uses no more than two different digits. For example, 12, 110 and 33333 are duodigits, while 102 is not.
  It can be shown that every natural number has duodigit multiples. Let d(n) be the smallest (positive) multiple of the number n that happens to be a duodigit. For example, d(12)=12, d(102)=1122, d(103)=515, d(290)=11011010 and d(317)=211122.

  Let D(k)=∑n=1kd(n). You are given D(110)=11047, D(150)=53312 and D(500)=29570988.

  Find D(50000). Give your answer in scientific notation rounded to 13 significant digits (12 after the decimal point). If, for example, we had asked for D(500) instead, the answer format would have been 2.957098800000e7.

  Unfortunately, I can not post the code and the solution because it is not true ethically to share it, but it might be useful to have some details as explained in following lines when to try to solve the problem.

  There are five numbers whose duodigit multiple’s digitlength is more than 18 digits, as follows
  8910, 17820, 26730, 32570, 35640, 44550.</p>


<p>We call a natural number a duodigit if its decimal representation uses no more than two different digits. For example, 12, 110 and 33333 are duodigits, while 102 is not.
  It can be shown that every natural number has duodigit multiples. Let d(n) be the smallest (positive) multiple of the number n that happens to be a duodigit. For example, d(12)=12, d(102)=1122, d(103)=515, d(290)=11011010 and d(317)=211122.

  Let D(k)=∑n=1kd(n). You are given D(110)=11047, D(150)=53312 and D(500)=29570988.

  Find D(50000). Give your answer in scientific notation rounded to 13 significant digits (12 after the decimal point). If, for example, we had asked for D(500) instead, the answer format would have been 2.957098800000e7.

  Unfortunately, I can not post the code and the solution because it is not true ethically to share it, but it might be useful to have some details as explained in following lines when to try to solve the problem.

  There are five numbers whose duodigit multiple’s digitlength is more than 18 digits, as follows
  8910, 17820, 26730, 32570, 35640, 44550.</p>
s
